.app {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

.app > header {
  display: grid;
  font-size: 1.2rem;
  font-family: Lato;
  font-weight: bold;
  padding: 10px;;
  place-items: center;
  background: linear-gradient(to right, #DEECFA, #E1F4E7, #DBF6DB);
}

.app > main {
  background-color: var(--main-bg-color);
  padding: 10px;
  height: 100%;
  overflow: auto;
}

.app > footer {
  padding: 10px;
  background: var(--bg-gradient);
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.app > footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #292929;
  margin: 10px 0;
  font-size: 12px;
}

.app > footer a img {
  width: 35px;
  margin: 5px 0;
}

.colorful-border {
  border-style: solid;
  border-image-slice: 1;
  border-width: 5px 0;
  border-image-source: var(--bg-border);
}

input {
  background-color:rgba(121, 121, 121, 0.267);
  padding: 10px 10px;
  border-radius: 5px;
  margin: 10px 10px;
  border: none;
  width: 80vw;
}
  


  
/* footer {
  background-color:  chocolate;
  display: flex;
  flex-direction: column;
} */